/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* head */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    height: 100px;
    align-items: center;
}
.container-head{
    position: sticky;
    background: #f1f1f1;
    top: 0;
    left: 0;
    z-index: 999;
    height: 120px;
    width: 100%;
}
.logo{
    flex: 1;
    padding: 5px 10px;
    font-size: 200px !important;

}
.menu{
    flex: 3;
    display: flex;
    padding: 10px 100px;
    align-content: center !important;
}
.menu li{
    padding: 5px 10px;
    position: relative;
}
.menu li:hover .rounded{
    display: block;
    top: 30px;
    background-color: #000;
    color: white;
}
.rounded{
    position: absolute;
    width: 100px;
    border: 1px solid grey;
    padding: 10px 0 10px 10px;
    display:none;
    top: 50px;
}
.rounded li a {
    font-size: 15px !important;
    font-weight: normal;
    color: white;
    
}
.menu li a{
    font-size: 20px;
    font-weight: bold;
}
.orther{
    flex: 1;
    display: flex;
    padding: 10px 10px
}
.orther li{
    padding: 5px 10px;
}
.orther li:first-child{
    position:relative;
}
.orther li:first-child input{
    width: 100%;
    border: none ;
    border-bottom: 1px solid;
}
.orther li:first-child i{
    position: absolute;
    right: 10px;
}
/* footer */
.container-footer{
    background-color: #f1f1f1;
}
.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    width: 300px;
    text-align: center;
    outline: none;
}
#iconapp{

    margin: 10px;
    font-size: 200%;
}
.app-google{
    padding: 10px;
}
.footer-bottom{
    text-align: center;
}
.footer-top{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top{
    height: 2px;
    width: 70%;
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid#dddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.cart-top-item i{
    color: #dddd;
}
.cart-top-cart{
    border: 1px solid #59bbdb;
    color: #59bbdb;
}
.cart-top-cart i{
    color: #59bbdb;
}
.cart-content-left{
    flex: 2;
    padding-right: 12px;
}
.cart-content-left table{
    width: 100%;
    text-align: center;
}
.cart-container-left table th{
    padding-bottom: 30px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    border-collapse: collapse;
    border-bottom: 2px solid #000;
}
.cart-container-left table p{
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
}
.cart-container-left table input{
    width: 30px;

}

.cart-container-left table td:first-child img{
    width: 110px;
    height: 140px;
}
.cart-container-left table td{
    padding: 20px, 0;
    border-bottom: 2px solid #000;
}
.cart-container-left table td:nth-child(2){
    max-width: 50px;
}
.cart-container-left table td:nth-child(3){
    width: 200px;
}
.cart-container-left table td:nth-child(4){
    width: 150px;
}
.cart-container-right{
    flex: 1;
    padding-left: 12px;
    border-left: 2px;
}